cffi==1.2.1
cryptography==3.2
Django==1.8.4
idna==2.0
Jinja2==2.8
MarkupSafe==0.23
oauthlib==1.0.3
pyasn1==0.1.8
pycparser==2.14
PyJWT==1.4.0
recordtype==1.1
requests==2.7.0
requests-oauth==0.4.1
requests-oauth2==0.2.0
requests-oauthlib==0.5.0
six==1.9.0
suds-jurko==0.6
urllib3==1.12
urlparse2==1.1.1
urlparse3==1.0.3
